#list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    border: 3px solid rgb(212, 209, 209);
    margin: 0.25em;
}

img {
    background-color: rgb(247, 242, 242);
    padding: 0.25em;
}

p{
    text-align: center;
}

button{
    margin: 0 0.5em 1em;
    background-color: rgb(109, 106, 106);
    color: white;
    border-radius: 5px;
    padding: 0.5em;
}