#list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    border: 3px solid rgb(212, 209, 209);
    margin: 0.25em;
}

img {
    background-color: rgb(247, 242, 242);
}

p{
    text-align: center;
}

button{
    margin: 0 0.5em 1em;
}